.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.govLogo {
  height: 110px;
  padding-right: 20px;
}

.cardButton {
  margin-right: 5px;
}

.modalImage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.list {
  display: flex;
  width: 50%;
}

.mdc-list {
  width: 100%;
}

.listContain {
  display: flex;
}
.footer {
  background-color: #6200ee;
  color: white;
}

.title {
  text-align: center;
  padding-bottom: 8px;
}

.scroll {
  overflow-x: scroll;
}

.charContain {
  display: flex;
}

.ReactTable .rt-thead.-header {
  background-color: #6200ee;
  color: white;
  padding: 8px;
  text-decoration: none;
  min-height: 45px;
}

.ReactTable {
  border: 0px;
}

.mdc-drawer__header {
  background-color: #6200ee;
  color: white;
}

.rt-td {
  text-align: right;
  padding: 4px;
}

@media screen and (max-width: 643px) {
  .titleWrapper {
    display: block;
  }

  .imageCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .textCenter {
    text-align: center;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

canvas {
    height: auto !important;
    width: 100% !important;
}
