.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App {
  min-height: 90vh;
}

.container {
  min-height: 100vh;
  position: relative;
}

.App-intro {
  font-size: large;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.govLogo {
  height: 110px;
  padding-right: 20px;
}

.cardButton {
  margin-right: 5px;
}

.modalImage {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 5px;
}

.modalImage_first_child {
  width: 60%;
}

.modalImage_second_child {
  width: 38%;
}

.list {
  display: flex;
  width: 100%;
}

.mdc-list {
  width: 100%;
}

.listContain {
}
.footer {
  background-image: linear-gradient(to right bottom,#492e9c,#5830ae,#6931c0,#7b30d1,#8e2de2);
  color: #eee;
  min-height: 10vh;
  margin-top: 30px;
}

.title {
  text-align: center;
  padding-bottom: 8px;
}

.scroll {
  overflow-x: scroll;
}

.charContain {
  display: flex;
}

.ReactTable .rt-thead.-header {
  background-color: #7b30d1;
  margin-bottom: 10px;
  color: white;
  padding: 8px;
  text-decoration: none;
  min-height: 45px;
}

.ReactTable {
  border: 0px;
}

.mdc-drawer__header {
  background-color: #6200ee;
  color: white;
}

.empInfo {
  display: flex;
  justify-content: space-between;
}

.rt-td {
  text-align: right;
  padding: 4px;
}

.button_text {
  text-decoration: none !important;
}

@media screen and (max-width: 643px) {
  .titleWrapper {
    display: block;
  }

  .imageCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .textCenter {
    text-align: center;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

canvas {
    height: auto !important;
    width: 100% !important;
}

.advance {
  width: 35px;
  height: 35px;
}

.advanceMain {
  width: 60px;
  height: 60px;
}

.loginadvance {
  margin-top: 20px;
  margin-bottom: 25px;
}
